
/* logo*************************************** */
.logo a:hover {
    text-decoration: none;
}
.logo{
    background-color: white;
    padding: 5px 20px;
}

/*Starts header style************/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:black;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #333 ;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2a5d68;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /*ends header************/







/*back to top button starts********/
#mytopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: green;
    opacity: 0.5;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    height: 36px;
  }
  
  #mytopBtn:hover {
    background-color: #555;
  }
/*back to top button ends ********/

/*starts footer*******************/
footer {
    background-color: #1a1b1b;
    color: white;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: white;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
form {
    display: flex;
    flex-wrap: wrap;
}
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px white solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}


/*legal footer starts******/
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: black;
}
.ft-legal ul li a{
    color: white;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
/*ends footer************/